<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
    <title>Available cars</title>
</head>
<body>
Available cars
<table border="1">
    <tr>
        <th>Car class</th>
        <th align="right">Available cars</th>
    </tr>
    <tr>
        <td>Compact</td>
        <td align="right" id="availableCars">#{available.availableCars}</td>
    </tr>
</table>
<ul>
    <li><h:link value="Rent" outcome="rent"/></li>
    <li><h:link value="Create" outcome="create"/></li>
</ul>
</body>
</html>