<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>Create cars</title>
</head>

<body>
Create rental cars
<h:form id="create">
    <table>
        <tr>
            <td>Number of cars:</td>
            <td>
                <h:inputText required="true" id="numberOfCars"
                             value="#{create.numberOfCars}">
                    <f:convertNumber integerOnly="true"/>
                </h:inputText>
                <h:message for="numberOfCars"></h:message>
            </td>
        </tr>
        <tr>
            <td/>
            <td align="right">
                <h:commandButton value="Create cars" id="createButton"
                                 action="#{create.create}"></h:commandButton>
            </td>
        </tr>
    </table>
</h:form>
</body>
</html>